/* Tablets and under */
@media (max-width: 768px) {
  header {
    padding: 3rem 2rem;
  }

  .logo {
    display: flex;
  }

  header .menu-bar {
    display: block;
    font-size: 20px;
  }

  nav {
    display: none;
  }

  .dropdown-menu {
    display: block;
    left: 2rem;
    width: unset;
    margin: 0 10px 10px;
  }

  .header-btn {
    display: none;
  }

  .showcase svg {
    display: none;
  }

  .showcase-content {
    padding-top: 0.5rem;
  }

  .showcase-content h1 {
    margin-top: 2rem;
    font-size: 2.5rem;
  }

  .showcase-content h6 {
    margin-top: 3rem;
  }

  .showcase-content button {
    height: 2.5rem;
    margin-top: 2rem;
  }

  .candidates .ellipse-2 {
    left: 13%;
  }

  .candidates .ellipse-3 {
    left: 24%;
  }

  .candidates .ellipse-4 {
    left: 35%;
  }

  .candidates .ellipse-5 {
    left: 47%;
  }

  .candidates .ellipse-6 {
    left: 58%;
  }

  .candidates h5 {
    left: 62%;
    top: 25%;
  }

  .candidates h6 {
    left: 78%;
    margin-top: 0;
  }

  .jumbotron {
    height: 25vh;
  }

  .jumbotron-image {
    padding: 2rem 15rem;
  }

  .jumbotron-image .atica {
    width: 50px;
    height: 50px;
  }

  .jumbotron-image .amara {
    width: 140px;
    height: 30px;
    padding: 0 1rem 0 2rem;
  }

  .jumbotron-image .solaytic {
    width: 140px;
    height: 40px;
    padding: 0 1rem;
  }

  .jumbotron-image .aven {
    width: 110px;
    height: 30px;
    padding: 0 1rem;
  }

  .jumbotron-image .foxhub {
    width: 140px;
    height: 30px;
    padding: 0 1rem;
  }

  .services-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    height: 100%;
  }

  .service-item {
    margin: 1rem;
    padding: 1rem;
    height: 250px;
  }

  .service-item h4 {
    padding: 1rem 0 1rem 0;
  }

  .faq {
    display: block;
  }

  .faqs {
    margin-top: 2rem;
    overflow: hidden;
  }

  .accordion {
    width: 100vh;
  }

  .faq-item {
    width: 42rem;
  }

  .faq-jumbo {
    padding: 3rem 0;
    margin: 0 0 5rem 0;
  }
}

/* Mobile */
@media (max-width: 500px) {
  header {
    padding: 2rem 2rem;
  }

  .logo {
    font-size: 20px;
  }

  .logo svg {
    width: 25px;
    padding-right: 5px;
  }

  .logo a {
    display: flex;
  }

  .showcase-content h1 {
    margin-top: 0;
    font-size: 2.5rem;
  }

  .grid,
  .showcase .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .showcase-content h1 {
    font-size: 2rem;
  }

  .showcase-content h6 {
    margin-top: 3rem;
  }

  .showcase-content button {
    height: 2.5rem;
    margin-top: 2rem;
  }

  .candidates img {
    width: 40px;
    height: 40px;
  }

  .candidates .ellipse-2 {
    left: 8%;
  }

  .candidates .ellipse-3 {
    left: 16%;
  }

  .candidates .ellipse-4 {
    left: 24%;
  }

  .candidates .ellipse-5 {
    left: 32%;
  }

  .candidates .ellipse-6 {
    left: 40%;
  }

  .candidates h5 {
    left: 42%;
    top: 25%;
    font-size: 15px;
  }

  .candidates h6 {
    left: 54%;
    top: 25%;
    font-size: 15px;
    margin-top: 0;
  }

  .jumbotron {
    padding: 1rem;
    height: 25vh;
  }

  .jumbotron h3 {
    font-size: medium;
  }

  .jumbotron-image {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
    justify-content: space-evenly;
    padding: 1rem;
    overflow: hidden;
  }

  .jumbotron-image .atica {
    width: 80px;
    height: 40px;
    padding: 0 0 0 3rem;
  }

  .jumbotron-image .amara {
    width: 100px;
    height: 30px;
    padding: 0 0 0 1rem;
  }

  .jumbotron-image .solaytic {
    width: 150px;
    height: 30px;
    padding-right: 3rem;
  }

  .jumbotron-image .aven {
    width: 120px;
    height: 30px;
    padding-left: 2rem;
    position: relative;
    left: 4rem;
  }

  .jumbotron-image .foxhub {
    width: 120px;
    height: 30px;
    position: relative;
    left: 5rem;
  }

  .about-us .data {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
    margin: 3rem;
  }

  .business,
  .graduates {
    border-right: 1.5px solid #4d73f8;
    padding: 0 1rem;
  }

  .vacancies {
    padding-left: 1rem;
  }

  .about-us .data h1 {
    font-size: 20px;
  }

  .about-us .data h6 {
    font-size: 10px;
  }

  .services {
    padding: 1rem;
  }

  .services-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    justify-content: center;
    height: 100%;
    overflow: hidden;
  }

  .service-item {
    padding: 0.5rem;
    height: 220px;
    width: 8.5rem;
  }

  .service-item img {
    width: 30px;
  }

  .service-item h4 {
    padding: 0.5rem 0;
    font-size: small;
  }

  .service-item h6 {
    font-size: x-small;
  }

  .featured-title h2 {
    font-size: medium;
  }

  .featured-title a {
    font-size: small;
  }

  .item-container .item-logo {
    width: 40px;
    height: 40px;
  }

  .item-container .item-details {
    margin-left: 1rem;
  }

  .item-container .item-details h3 {
    font-size: medium;
  }

  .item-container .item-details h5 {
    font-size: small;
  }

  .item-container .item-details span {
    font-size: smaller;
  }

  .item-container .item-details-2 h6 {
    font-size: x-small;
  }

  .faq h1 {
    font-size: x-large;
  }

  .faq h5 {
    font-size: small;
  }

  .accordion {
    width: 100vh;
  }

  .faq-item {
    width: 22rem;
  }

  .faq-item span img {
    width: 10px;
  }

  .faq-jumbo {
    margin: 10rem 0 5rem 0;
    text-align: center;
  }

  .faq-jumbo .content {
    display: block;
  }

  .faq-jumbo .content h6 {
    padding: 0;
    color: #fff;
    font-weight: 100;
  }

  .faq-jumbo .content button {
    margin-top: 1rem;
  }

  footer h6 {
    padding-top: 10px;
  }
}

/* Mobile */
@media (max-width: 320px) {
  .logo {
    font-size: 20px;
    display: inline;
  }

  .logo svg {
    width: 25px;
    padding-right: 5px;
  }

  .logo a {
    display: flex;
    justify-content: flex-start;
  }
}
